@page
@model Web.Pages.Vehiculos.IndexModel
@{
}
<h1>Listado de vehiculo</h1>
<div class= "container">
	<div class=" text-center mb-4">
	<a class="btn btn-primary" asp-page="./Agregar">Agregar </a>
	</div>
	<div class="row">
		@if (Model. vehiculos != null)
		foreach (var vehiculo in Model. vehiculos)
		{
				<div class="col-md-4 mb-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">@Html.DisplayFor(modelo=>vehiculo.Marca) @Html.DisplayFor(modelo=>vehiculo.Modelo)</h5>
							<h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelo => vehiculo.Placa)</h6>
								<p>@Html.DisplayFor(modelo => vehiculo.Anio)</p>
							<a class="btn btn-primary" asp-page="./Detalle" asp-route-id="@vehiculo.Id">Detalle </a>
							<a class="btn btn-info" asp-page="./Editar" asp-route-id="@vehiculo.Id">Editar </a>
							<a class="btn btn-danger" asp-page="./Eliminar" asp-route-id="@vehiculo.Id">Eliminar </a>
						</div>
					</div>
				</div>
		}
	</div>
</div>
